body {
    padding-top: 60px;
    padding-bottom: 40px;
}


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: black;
  text-align: left;
}

.inline {
    display: inline;
}

.info {
    display: none;
}

.head {
  padding: 20px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.head h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

#wfs_response, #no_search_result {
    display: none;
    padding: 5px;
}

/** Map css **/
.map {
    height: 768px;
}

/** Bootstrap overwrites / customizations **/

.head {
    margin-bottom: 20px;
}

.wfs_edit .form-horizontal .control-label {
    width: 90px;
}

.wfs_edit .form-horizontal .controls {
    margin-left: 110px;
}

/* Overwrite max-width from bootstrap */
.map img {
    max-width: 512px;
}

/* Overwrite line-height from bootstrap */
.olControlPanZoomBar div {
    line-height: normal;
}

/** OpenLayers overwrites / customizations **/
.olImageLoadError {
    background-color: transparent;
    background-image: url(../img/blank.gif);
}

/* Layer switcher */
.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher label {
    display: inline;
    vertical-align: bottom;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: darkblue;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}
/* gbi-editor */

/* layermanager widget */
.gbi_widgets_LayerManager {
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 1005;
}

.gbi_widgets_LayerManager_LayerSwitcher {
    color: white;
    background-color: darkblue;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 3px;
}

.gbi_widgets_LayerManager ul {
    padding: 0px;
    list-style-type: none;
}

.gbi_widgets_LayerManager li {
    list-style-type: none;
}

.gbi_widgets_LayerManager_Maximize {
    background-image: url(../img/openlayers/layer-switcher-maximize.png);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: right;
}

.gbi_widgets_LayerManager_Minimize {
    background-image: url(../img/openlayers/layer-switcher-minimize.png);
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    float: right;
}
