{% extends "base.html" %}

{% from "macros/forms.html" import input, checkbox, button %}
{% from "macros/user.html" import user_detail %}
{% from "macros/modals.html" import confirm_delete_modal %}

{% block title %}
    {{_('admin')}}
{% endblock %}

{% block content_head %}
    <h1>{{_('admin')}}</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% block content_left %}
    <div class="span3">
        <h5>{{ _('User') }}</h5>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{ url_for('admin.user_list', refresh=True) }}">
                    {{ _('user list') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.inactive_users_list') }}">
                    {{ _('user list inactive') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.create_user') }}">
                    {{ _('create user') }}
                </a>
            </li>
        </ul>

        <h5>{{ _('Services') }}</h5>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{{ url_for('admin.wmts_list') }}">
                    {{ _('WMTS list') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.wmts_edit') }}">
                    {{ _('create WMTS') }}
                </a>
            </li>

            <hr>

            <li>
                <a href="{{ url_for('admin.wms_list') }}">
                    {{ _('WMS list') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.wms_edit') }}">
                    {{ _('create WMS') }}
                </a>
            </li>

            <hr>

            <li>
                <a href="{{ url_for('admin.wfs_list') }}">
                    {{ _('WFS list') }}
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin.wfs_edit') }}">
                    {{ _('create WFS') }}
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}

    <div class="span12">
    {% block content_right %}
    {% endblock %}
    </div>
</div>
{% endblock %}
