{% extends "admin/base.html" %}

{% from "macros/forms.html" import input, button %}

{% block title %} {{_('create user')}} {% endblock %}

{% block content_right %}
<form class="form-horizontal" method="POST">
    <div class="row-fluid">
    <div class="span8">
        <h4>{{_('create user')}}</h4>
        {{ form.csrf_token }}
        <fieldset>
            <legend>{{ _('personal') }}</legend>
            {{ input(form.title) }}
            {{ input(form.firstname) }}
            {{ input(form.lastname) }}
            {{ input(form.company_name) }}
            {{ input(form.type) }}
        </fieldset>

        <fieldset>
            <legend>{{ _('address & contact') }}</legend>

            {{ input(form.address) }}
            {{ input(form.address_extend) }}

            {{ input(form.zipcode) }}
            {{ input(form.city) }}
            {{ input(form.federal_state) }}

            {{ input(form.phone) }}
            {{ input(form.fax) }}

            {{ input(form.company_number) }}
            {{ input(form.commercial_register_number) }}

            </fieldset>

            <!--  Login Data -->
            <fieldset>
                <legend>{{ _('login') }}</legend>
                {{ input(form.email) }}
                {{ input(form.password) }}
                {{ input(form.password2) }}
            </fieldset>

            {{ checkbox(form.verified) }}
            {{ checkbox(form.activate) }}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span6">
            {{ button(_('create'), submit=True, btn_class='success') }}
        </div>
    </div>
</form>
{% endblock %}
