{% extends "admin/base.html" %}

{% from "macros/forms.html" import input, button %}

{% block title %} {{_('create user')}} {% endblock %}

{% block content_right %}
<h4>{{_('create user')}}</h4>

<form method="POST">
    <div class="row-fluid">
        <div class="span6">
            {{ form.csrf_token }}

            {{ input(form.title) }}
            {{ input(form.firstname) }}
            {{ input(form.lastname) }}

            {{ input(form.company_name) }}
            {{ input(form.address) }}
            {{ input(form.address_extend) }}

            {{ input(form.zipcode) }}
            {{ input(form.city) }}
            {{ input(form.federal_state) }}

            {{ input(form.phone) }}
            {{ input(form.fax) }}

        </div>
        <div class="span6">
            {{ input(form.type) }}
            {{ input(form.company_number, class='toggle-input hide') }}
            {{ input(form.commercial_register_number, class='toggle-input hide') }}

            <!--  Login Data -->
            {{ input(form.email) }}
            {{ input(form.password) }}
            {{ input(form.password2) }}

            {{ checkbox(form.verified) }}
            {{ checkbox(form.activate) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            {{ button(_('create'), submit=True, btn_class='success') }}
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/create_user.js') }}"></script>
{% endblock %}