{% extends "admin/user_detail.html" %}

{% block title %} {{_('Edit user')}} {% endblock %}

{% block content_bottom %}
<form method="POST">
    <fieldset>
        <legend>{{_('Edit user')}}</legend>
        {{ form.csrf_token }}

        {{ input(form.title) }}
        {{ input(form.firstname) }}
        {{ input(form.lastname) }}

        {{ input(form.address) }}
        {{ input(form.address_extend) }}

        {{ input(form.zipcode) }}
        {{ input(form.city) }}
        {{ input(form.federal_state) }}

        {{ input(form.phone) }}
        {{ input(form.fax) }}

        {% if user.is_customer %}
        {{ input(form.company_number) }}
        {% endif %}

        {% if user.is_service_provider %}
        {{ input(form.commercial_register_number) }}
        {% endif %}

        {{ button(_('save'), True) }}
    </fieldset>
</form>
{% endblock %}
