{% extends "admin/user_detail.html" %}

{% from "macros/user.html" import user_detail %}
{% from "macros/forms.html" import input, button %}

{% block title %} {{_('remove user')}} {% endblock %}

{% block content_bottom %}
<fieldset>
	<legend>{{_('remove user')}} </legend>
    <div class="alert">
		<p>{{ _('infotext remove user account notes') }}</p>
    </div>
    <div>
    {{ confirm_delete_modal(
        	id=user.id,
            btn_text=_('Delete'),
            url=url_for('admin.remove_user', user_id=user.id, next=url_for('admin.user_list') ),
        )
     }}
     </div>
</fieldset>
{% endblock %}
