{% extends "admin/base.html" %}

{% from "macros/user.html" import user_detail %}
{% from "macros/forms.html" import input, button %}

{% block title %} {{_('user details') }} {% endblock %}

{% block content_right %}
<h4>{{_('user details')}} {{ user.realname }} ({{ user.email}}) </h4>
<ul class="nav nav-pills">
  <li class="{% if request.path == url_for('admin.user_detail', user_id=user.id) %}active{% endif%}">
    <a href="{{ url_for('admin.user_detail', user_id=user.id) }}">
        {{ _('overview') }}
    </a>
  </li>
  <li class="{% if request.path == url_for('admin.edit_user', user_id=user.id) %}active{% endif%}">
    <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">
        {{ _('edit user address') }}
    </a>
  </li>
  <li class="{% if request.path == url_for('admin.reset_user_password', user_id=user.id) %}active{% endif%}">
    <a href="{{ url_for('admin.reset_user_password', user_id=user.id) }}">
        {{ _('reset password') }}
    </a>
  </li>
  <li class="{% if request.path == url_for('admin.logs', user_id=user.id) %}active{% endif%}">
    <a href="{{ url_for('admin.logs', user_id=user.id) }}">
        {{ _('show log') }}
    </a>
  </li>
  <li class="{% if request.path == url_for('admin.remove_user', user_id=user.id) %}active{% endif%}">
    <a href="{{ url_for('admin.remove_user', user_id=user.id) }}">
        {{ _('delete user') }}
    </a>
  </li>
</ul>

    {% block content_bottom %}
    <div class="row-fluid">
        <div class="span12">

            <h4>{{ _('address') }}</h4>
            {{ user_detail(user) }}

            <div class="row-fluid">
                <h4>{{ _('status') }}</h4>

                <div class="span3">
                    <span class="label">
                    {% if user.active %}
                        {{ _('active') }}
                    {% elif user.verified %}
                        {{ _('verified') }}, {{ _('not active')}}
                    {% else %}
                        {{ _('not verified') }}
                    {% endif %}
                    </span>
                </div>
                <div class="span4">
                    {% if not user.active %}
                    <a href="{{ url_for('admin.activate_user', user_id=user.id, next=request.url) }}" class="btn btn-small btn-success">
                        {{ _('activate') }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('admin.deactivate_user', user_id=user.id, next=request.url) }}" class="btn btn-small">
                        {{ _('deactivate') }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
<hr>
<a href="{{ url_for('admin.user_list') }}" class="btn btn-small">
    {{ _('Back to users list') }}
</a>
{% endblock %}
