{% extends "admin/base.html" %}

{% from "macros/forms.html" import input, input_tooltip, checkbox_tooltip, textarea, button %}

{% block title %}
    {% if id %}
        {{_('edit WFS')}}
    {% else %}
        {{_('create WFS')}}
    {% endif %}
{% endblock %}


{% block content_right %}
<h4>
    {% if id %}
        {{_('edit WFS')}}
    {% else %}
        {{_('create WFS')}}
    {% endif %}
</h4>
<form method="POST">
    <div class="row-fluid">
        <div class="span4">
            {{ form.csrf_token }}
            {{ input(form.host, class='span9') }}
            {{ input(form.url, class='span9') }}
            {{ input(form.geometry, class='span9') }}

            {{ input(form.layer, class='span9') }}
            {{ input(form.name, class='span9') }}
            {{ input(form.srs, class='span9') }}
        </div>
        <div class="span6">
            {{ input(form.ns_prefix) }}
            {{ input(form.ns_uri) }}
            {{ input(form.search_property) }}
            {{ input(form.max_features) }}
            <hr>
            {{ checkbox_tooltip(form.is_protected, _('tooltip - protected service')) }}
            {{ input(form.username) }}
            {{ input(form.password) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{ button(_('save'), submit=True, btn_class='success') }}
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/base.js') }}"></script>
{% endblock %}
