{% extends "base.html" %}

{% from "macros/forms.html" import input, textarea, button %}

{% block title %}
    {% if id %}
        {{_('edit WFS')}}
    {% else %}
        {{_('create WFS')}}
    {% endif %}
{% endblock %}

{% block content_head %}
    <h1>
        {% if id %}
            {{_('edit WFS')}}
        {% else %}
            {{_('create WFS')}}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <form method="POST" class="form-horizontal">
    {{ form.csrf }}
        <fieldset class="span5 offset1">
            {{ input(form.host) }}
            {{ input(form.url) }}
            {{ input(form.geometry) }}

            {{ input(form.layer) }}
            {{ input(form.name) }}
            {{ input(form.srs) }}

            {{ input(form.ns_prefix) }}
            {{ input(form.ns_uri) }}
            {{ input(form.search_property) }}
            {{ input(form.max_features) }}
            <hr>
            {{ input(form.is_protected) }}
            {{ input(form.username) }}
            {{ input(form.password) }}
            <hr>
        </fieldset>
        <fieldset class="span9 pagination-centered">
            {{ button(_('save'), True) }}
        </fieldset>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/base.js') }}"></script>
{% endblock %}
