{% extends "admin/base.html" %}

{% from "macros/forms.html" import input, input_tooltip, textarea, button %}

{% block title %}
    {{_('create or edit WMS')}}
{% endblock %}

{% block content_right %}
<h4>
    {% if id %}
        {{_('edit WMS')}}
    {% else %}
        {{_('create WMS')}}
    {% endif %}
</h4>

<div class="row-fluid">
    <div class="span5">
        <p>{{ _('infotext wms load via url') }}</p>
        <span id="wms-capabilities-info" class="alert hide">{{ _('load wms capabilities') }}</span>
        <span id="wms-capabilities-error" class="alert alert-error hide"></span>
        <div class="input-append">
            <input id="capabilities_url" type="text">
            <button class="btn" id="getCapabilites" type="button">{{ _('load wms') }}</button>
        </div>
    </div>
    <div class="span4 offset1">
        <p>{{ _('infotext preview map only if on selct srs is selcted') }}</p>
        <div class="alert hide" id="wms-preview-info">{{ _('preview not possible') }}</div>
        <div>
            <button class="btn" id="previewMap" disabled=disabled>{{ _('preview map') }}</button>
        </div>
    </div>
</div>

<hr>

<form method="POST">
    {{ form.csrf_token }}

    <div class="row-fluid">
        <div class="span5">
            {{ input(form.name, class="span9") }}
            {{ input(form.title, class="span9") }}
            {{ input(form.url, class="span9") }}
            <hr>
            <div class="control-group">
                <label class="control-label" for="layers_select"><span>{{ _('layers_select') }}:</span></label>
                <div class="controls">
                    <select id="layers_select" name="layers_select" multiple='true' disabled=disabled></select>
                    {{ tooltip(_('tooltip - select layer')) }}
                </div>
            </div>
            {{ input(form.layer) }}
            <hr>
            <div class="control-group">
                <label class="control-label" for="srs_select"><span>{{ _('select srs') }}:</span></label>
                <div class="controls">
                    <select id="srs_select" name="srs_select" disabled=disabled></select>
                    {{ tooltip(_('tooltip - select srs')) }}
                </div>
            </div>
            {{ input(form.srs, class="span9") }}
            {{ input(form.format, class="span9") }}
            {{ input(form.version, class="span9") }}
        </div>

        <div class="span5 offset1">
            {{ textarea(form.view_coverage, rows=6, cols=6, class='span9') }}
            {{ input(form.view_level_start) }}
            {{ input(form.view_level_end) }}
            {{ input(form.max_tiles) }}
            {{ input(form.is_transparent) }}
            {{ input(form.is_public) }}
            {{ input(form.is_visible) }}
            <hr>
            {{ input_tooltip(form.is_protected, _('tooltip - protected service')) }}

            {{ input(form.username) }}
            {{ input(form.password) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {{ button(_('save'), True, btn_class='success') }}
        </div>
    </div>
</form>

<div id="mapPreview" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{_('preview map')}} </h3>
    </div>
</div>
<div class="map hide span5" id='map' style="width: 500px; height: 500px;"></div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var loadCapabilitiesURL = "{{ url_for('admin.wms_capabilities') }}";
       var activeLayer;
    var editor;
    var capa;
    $(document).ready(function() {
        editor = new OpenLayers.Map('map', {
            theme: openlayers_theme_url,
            controls: [
                new OpenLayers.Control.Navigation({
                documentDrag: true,
                dragPanOptions: {
                    interval: 1,
                    enableKinetic: true
                    }
                }),
                new OpenLayers.Control.PanZoomBar()
            ]
        });
        OpenLayers.ImgPath = openlayers_image_path;


        $("#layers_select").change(function() {
            $("#layer").val($(this).val());
        });

        $("#srs_select").change(function() {
            $("#srs").val($(this).val());
        });

        $("#srs_select").prop('disabled', 'disabled')
        $("#layers_select").prop('disabled', 'disabled')
        $("#previewMap").prop('disabled', 'disabled')


        $("#getCapabilites").click(function() {
            var url = $("#capabilities_url").val();
            if (url) {
                $.ajax({
                  type: 'GET',
                  async: true,
                  url: loadCapabilitiesURL,
                  data: { url: url },
                  success: function(response) {
                    $("#wms-capabilities-info");
                    if (response.data.error) {
                        $("#wms-capabilities-error").html(response.data.error).show().fadeOut(4000)
                        return false;
                    } else {
                        $("#wms-capabilities-info").show().fadeOut(4000);
                    }

                    // Input values
                    $("#title").val(response.data.title)
                    $("#name").val(response.data.name);
                    $("#url").val(response.data.url)

                    // Layers
                    $('#layers_select').empty();
                    $.each(response.data.layer.layers, function(key, value) {
                        $('#layers_select').append('<option value="'+ value['name'] +'">'+ value['name'] +'</option>');
                    });
                    // SRS
                    $('#srs_select').empty();
                    $.each(response.data.layer.srs, function(key, value) {
                        var hasBBOX = false;
                        if (response.data.layer.bbox[value]) {
                            hasBBOX = true;
                        }
                        var option;
                        if (hasBBOX) {
                            option = '<option value="'+ value +'">**'+ value +'**</option>';
                        } else {
                            option = '<option value="'+ value +'">'+ value +'</option>';
                        }
                        $('#srs_select').append(option);
                    });
                    $("#srs").val( $('#srs_select').val());

                    $("#view_coverage").val(response.data.layer.llbbox )
                    capa = response.data

                    $("#srs_select").prop('disabled', '')
                    $("#layers_select").prop('disabled', '')
                    $("#previewMap").prop('disabled', '')

                  }
                });
            }
            return false;
        });

        $("#previewMap").click(function() {
            var url = $("#url").val()
            var title = $("#title").val();
            var layers = $("#layer").val();
            var srs = $("#srs").val();
            var format = $("#format").val();

            if (activeLayer) {
                editor.removeLayer(activeLayer)
            }

            var bboxArray = capa.layer.bbox
            bbox = bboxArray[srs]
            $("#wms-preview-info").hide();
            if (bbox && layers) {
                editor.maxExtent = new OpenLayers.Bounds(bbox[0], bbox[1], bbox[2], bbox[3])
            } else {
                $("#wms-preview-info").show().fadeOut(5000);
                return false;
            }

            var projection = new OpenLayers.Projection(srs);
            editor.projection = projection;

            activeLayer = new OpenLayers.Layer.WMS( title,
                url, {
                    layers: layers,
                    srs : srs
                },
                {
                    singleTile: true,
                    ratio: 1.0
                }
            );
            editor.addLayer(activeLayer)
            editor.zoomToMaxExtent();
            $("#map").show();
            $("#mapPreview").modal('show');
            return false;
        });

    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/base.js') }}"></script>
{% endblock %}