{% extends "base.html" %}

{% block title %} {{_('WMS list')}} {% endblock %}

{% block content_head %}<h1>{{_('WMS list')}}</h1>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('rastersource_title') }}</th>
                    <th>{{ _('rastersource_url') }}</th>
                    <th>{{ _('rastersource_layer') }}</th>
                    <th>{{ _('rastersource_format') }}</th>
                    <th>{{ _('rastersource_view_level_start') }}</th>
                    <th>{{ _('rastersource_view_level_end') }}</th>
                    <th>{{ _('rastersource_is_transparent') }}</th>
                    <th>{{ _('rastersource_is_public')}}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for elem in wms %}
                <tr>
                    <td>{{ elem.title }}</td>
                    <td>{{ elem.url }}</td>
                    <td>{{ elem.layer }}</td>
                    <td>{{ elem.format }}</td>
                    <td>{{ elem.view_level_start }}</td>
                    <td>{{ elem.view_level_end }}</td>
                    <td>{{ elem.is_transparent }}</td>
                    <td>{{ elem.is_public }}</td>
                    <td>
                        <a class="btn btn-small" href="{{ url_for('admin.wms_edit', id=elem.id) }}">{{ _('edit') }}</a>
                        <a class="btn btn-small" href="{{ url_for('admin.wms_remove', id=elem.id) }}">{{ _('remove') }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-small" href="{{ url_for('admin.wms_edit') }}">{{ _('create WMS') }}</a>
    </div>
</div>
{% endblock %}
