{% extends "admin/base.html" %}

{% block title %} {{_('WMS list')}} {% endblock %}

{% block content_right %}
<h4>{{_('WMTS list')}}</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('rastersource_title') }}</th>
                    <th>{{ _('rastersource_url') }}</th>
                    <th>{{ _('rastersource_view_level') }}</th>
                    <th>{{ _('rastersource_is_background_layer') }}</th>
                    <th>{{ _('rastersource_is_transparent') }}</th>
                    <th>{{ _('rastersource_is_public')}}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if not wmts %}
                <tr>
                    <td colspan="9">
                        {{ _('infotext no services configured') }}
                    </td>
                </tr>
                {% endif %}

                {% for elem in wmts %}
                <tr>
                    <td>{{ elem.title }}</td>
                    <td>{{ elem.url }}</td>
                    <td>{{ elem.view_level_start }}-{{ elem.view_level_end }}</td>
                    <td>
                        {% if elem.is_background_layer %}
                            {{ _('Yes') }}
                        {% else %}
                            {{ _('No') }}
                        {% endif %}

                    </td>
                    <td>
                        {% if elem.is_transparent %}
                            {{ _('Yes') }}
                        {% else %}
                            {{ _('No') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if elem.is_public %}
                            {{ _('Yes') }}
                        {% else %}
                            {{ _('No') }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-small" href="{{ url_for('admin.wmts_edit', id=elem.id) }}">{{ _('edit') }}</a>

                        {{ confirm_delete_modal(
                              id=elem.id,
                              btn_text=_('Delete'),
                              url=url_for('admin.wmts_remove', id=elem.id),
                            )
                        }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-small btn-success" href="{{ url_for('admin.wmts_edit') }}">{{ _('create WMTS') }}</a>
{% endblock %}
