{% extends "base.html" %}
{% from "macros/map.html" import add_wmts_layers, add_basic_layer %}

{% block title %} {{_('home')}} {% endblock %}

{% block content_head %}<h1>{{_('Welcome to GeoBox Server')}}</h1>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% if not g.user.is_anonymous %}
            <ul>
                {% if config['FEATURE_EDITOR'] %}
                <li><a href="{{ url_for('maps.wmts') }}">{{ _('WMTS map') }}</a>
                   <p class="help-block"> {{ _('info text wmts map') }}</p>
                </li>
<!--             <li><a href="{{ url_for('maps.wfs_edit') }}">{{ _('WFS Edit') }}</a>
                   <p class="help-block"> {{ _('info text wfs edit') }}</p>
                </li> -->
                {% endif %}
                {% if user.is_consultant %}
                <li><a href="{{ url_for('boxes.overview') }}">{{ _('overview over all boxes') }}</a>
                    <p class="help-block"> {{ _('info text boxesoverview') }}</p>
                </li>
                {% endif %}
                {% if config['FEATURE_DOC_BOXES'] %}
                    {% if not user.is_consultant %}
                    <li><a href="{{ url_for('boxes.files', box_name='download') }}">{{ _('downloadbox') }}</a>
                       <p class="help-block"> {{ _('info text downloadbox') }}</p>
                    </li>
                    <li><a href="{{ url_for('boxes.files', box_name='upload') }}">{{ _('uploadbox') }}</a>
                       <p class="help-block"> {{ _('info text uploadboxbox') }}</p>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('boxes.files', box_name='file') }}">{{ _('filebox') }}</a>
                       <p class="help-block"> {{ _('info text filebox') }}</p>
                    </li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ config.get('GBI_CLIENT_DOWNLOAD_URL')}}">{{ _('geobox client download') }}</a>
                   <p class="help-block"> {{ _('info text geobox client download') }}</p>
                </li>
                {% if config['USERMANUAL_FILENAME'] %}
                <li>
                    <a href="{{ url_for('pages.page', lang='de', name=config['USERMANUAL_FILENAME']) }}">{{ _('geobox server user manual') }}</a>
                   <p class="help-block"> {{ _('user manual') }}</p>
                </li>
                {% endif %}
            </ul>
        {% else %}
        <p>{{ _('info text geobox client first page', login_url=url_for('user.login'),
            createuser_url=url_for('user.new')) }}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

