{% extends "base.html" %}
{% from "macros/map.html" import add_wmts_layers, add_basic_layer %}

{% block title %} {{_('home')}} {% endblock %}

{% block content_head %}<h1>{{_('Welcome to GBI Server')}}</h1>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% if not g.user.is_anonymous() %}
            <ul>
                {% if config['FEATURE_EDITOR'] %}
                <li><a href="{{ url_for('maps.wmts') }}">{{ _('WMTS map') }}</a>
                   <p class="help-block"> {{ _('info text wmts map') }}</p>
                </li>
                <li><a href="{{ url_for('maps.wfs_edit') }}">{{ _('WFS Edit') }}</a>
                   <p class="help-block"> {{ _('info text wfs edit') }}</p>
                </li>
                {% endif %}
                {% if user.is_consultant %}
                <li><a href="{{ url_for('boxes.overview') }}">{{ _('overview over all boxes') }}</a>
                    <p class="help-block"> {{ _('info text boxesoverview') }}</p>
                </li>
                {% endif %}
                {% if config['FEATURE_DOC_BOXES'] %}
                    {% if not user.is_consultant %}
                    <li><a href="{{ url_for('boxes.files', box_name='download') }}">{{ _('downloadbox') }}</a>
                       <p class="help-block"> {{ _('info text downloadbox') }}</p>
                    </li>
                    <li><a href="{{ url_for('boxes.files', box_name='upload') }}">{{ _('uploadbox') }}</a>
                       <p class="help-block"> {{ _('info text uploadboxbox') }}</p>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('boxes.files', box_name='file') }}">{{ _('filebox') }}</a>
                       <p class="help-block"> {{ _('info text filebox') }}</p>
                    </li>
                    {% endif %}
                {% endif %}
                <li><a href="{{ config.get('GBI_CLIENT_DOWNLOAD_URL')}}">{{ _('gbi client download') }}</a>
                   <p class="help-block"> {{ _('info text gbi client download') }}</p>
                </li>
                {% if config['USERMANUAL_FILENAME'] %}
                <li>
                    <a href="{{ url_for('pages.page', lang='de', name=config['USERMANUAL_FILENAME']) }}">{{ _('gbi user manual') }}</a>
                   <p class="help-block"> {{ _('user manual') }}</p>
                </li>
                {% endif %}
            </ul>
        {% else %}
        <p>{{ _('info text gbi client first page', login_url=url_for('user.login'),
            createuser_url=url_for('user.new')) }}
        </p>
        {% endif %}
        {% if config['FEATURE_EDITOR'] %}
        <hr>
        <div class="span11">
            <div class="map" id='map' style="height:400px; border: 1px solid black"></div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript %}
    {% if config['FEATURE_EDITOR'] %}
    <script type="text/javascript" src="{{ url_for('maps.javascript_translation') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/gbi-editor/src/gbi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/layermanager.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map_base.js') }}"></script>
    <script type="text/javascript">
        var sources = [];
        {{ add_wmts_layers(layers, current_user) }}
        $(document).ready(function() {
            var editor = new gbi.Editor({
                imgPath: openlayers_image_path,
                layers: sources,
                "map": {
                    element: 'map',
                    projection: new OpenLayers.Projection('EPSG:3857'),
                    units: 'm',
                    maxResolution: 156543.0339,
                    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
                    numZoomLevels: zoom_levels,
                    theme: openlayers_theme_url,
                    blankImagePath: openlayers_blank_image,
                    restrictedExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
                    imageBaseLayer: true
                }
            });
            var layermanager = new gbi.widgets.LayerManager(editor, {
                showActiveLayer: false
            });

            editor.zoomToMaxExtent();
        });
    </script>
    {% endif %}
{% endblock %}

