{% extends "base.html" %}

{% from "macros/map.html" import add_basic_layer, add_wfs_layers, add_wmts_layers %}

{% block title %}{{ _('WFS Edit') }}{% endblock %}

{% block content_head %}<h1>{{_('WFS Edit')}}</h1>{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="map span8" id='map'></div>
        <div class="span4 wfs_edit">
            <h2><small>{{ _('search features') }}</small></h2>
            <p class="help_text">
                <small>{{ _('search help text') }}</small>
            </p>
            <div class="control-group">
                <div class="control-label">
                    <label for="search_value"><span>{{ _('search_label') }}{{ tooltip(_('tooltip - search')) }}</span></label>

                </div>
                {{ form.wfs_serach_layer }}
                <div class="controls">
                    <textarea id="search_value" name="search_value">
                    </textarea>
                </div>
                <div id="no_search_result" class="alert-info">{{ _('no search result') }}</div>
            </div>
            <button class="btn btn-small" id="add_search">{{_('add search')}}</button>
            <button class="btn btn-small" id="remove_search">{{_('remove search string')}}</button>
            <button class="btn btn-small" id="hide_searchlayer">{{_('hide searchlayer')}}</button>

            <hr>
            <h2><small>{{ _('feature settings') }}</small></h2>
            <p><small>{{ _('feature select help text') }}</small></p>
            <hr>
            <div id="save_success" class="alert alert-success">{{ _('successfull saved') }}</div>
            <button class="btn btn-small" id="save_changes">{{ _('save changes') }}
                {{ tooltip(_('tooltip - button save changes')) }} </button>
            <hr>

            <div id="wfs_response" class="alert">
                <span id="wfs_response_message"></span>
            </div>
            <h4>{{ _('attributes') }}
                {{ tooltip(_('tooltip - attrbibutes')) }}
            </h4>
            <div id="attributeeditor"></div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="{{ url_for('maps.javascript_translation') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/gbi-editor/src/gbi.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/layermanager.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/widgets/attributeeditor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map_base.js') }}"></script>
    <script type="text/javascript">
        var sources = [];
        {{ add_wmts_layers(layers, user) }}
        {{ add_wfs_layers(wfs) }}

        var SAVE_FAILED_MSG = "{{ _('save feautre not possible') }}"
        var SAVE_SUCCESSFULL_MSG = "{{ _('save feature successfull') }}"
        var read_only_layer_name = {{read_only_layer_name|tojson|safe}};
        var featureCollection = {
              "type": "FeatureCollection",
              "features":{{read_only_features|tojson|safe}}
        };
        var read_only_schema = {{read_only_schema|tojson|safe}};
        var write_back_url = "{{ url_for('maps.write_back', layer=editable_layer) }}";
        var write_layer_name = "Basis Layer";

        var activeSearchLayer;
        $(document).ready(function() {
            var editor, writeLayer, toolbar;

            $('#save_success').hide();
            $('#remove_search').attr('disabled', 'disabled');

            $('#save_changes')
                .attr('disabled', 'disabled')
                .click(function() {
                    toolbar.deactivateAllControls();
                    $('#save_changes').attr('disabled', 'disabled').removeClass('btn-success');
                    writeLayer.save();
                });
            $('#add_search').click(function() {
                if (activeSearchLayer) {
                    activeSearchLayer.visible(false)
                    activeSearchLayer.olLayer.filter = null
                    activeSearchLayer.olLayer.removeAllFeatures();
                }

                var value = $('#search_value').val().replace(/-/g, '').replace(/\//g, '');

                var layername = $("#wfs_serach_layer").val()
                activeSearchLayer = editor.layerManager.layerByName(layername);
                activeSearchLayer.visible(true)
                if (value) {
                    value = value.split("\n")
                    activeSearchLayer.filter(
                        activeSearchLayer.olLayer.searchProperty, value
                    );
                    $('#remove_search').removeAttr('disabled');
                } else {
                    activeSearchLayer.removeFilter();
                }
                $('#hide_searchlayer').removeAttr('disabled');
                return false;
            });

            $('#remove_search').click(function() {
                $("#search_value").val('');
                $(this).prop("disabled", "disabled")
                return false;
            })

            $('#hide_searchlayer').click(function() {
                activeSearchLayer.visible(false)
                $(this).prop("disabled", "disabled")
                return false;
            })

            $("#search_value").html('')

            editor = new gbi.Editor({
                imgPath: openlayers_image_path,
                layers: sources,
                "map": {
                    element: 'map',
                    projection: new OpenLayers.Projection('EPSG:3857'),
                    units: 'm',
                    maxResolution: 156543.0339,
                    maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34),
                    numZoomLevels: zoom_levels,
                    theme: openlayers_theme_url,
                    blankImagePath: openlayers_blank_image,
                    restrictedExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34)
                }
            });
            editor.zoomToMaxExtent();

            writeLayer = editor.layerManager.layerByName(write_layer_name);
            editor.layerManager.active(writeLayer);
            writeLayer.registerCallback('changes', function(unsavedChanges) {
                if(unsavedChanges) {
                    $('#save_changes').removeAttr('disabled').addClass('btn-success');
                }
            });
            writeLayer.registerCallback('success', function() {
                $.get(write_back_url)
                $('#save_success').show().fadeOut(3000);
            });
            writeLayer.registerEvent('loadend', null, function() {
                writeLayer.zoomToDataExtent();
                attributeEditor.setAttributes(writeLayer.attributes());
            });

            var read_only_layer = new gbi.Layers.GeoJSON({
                name: read_only_layer_name,
                projection: new OpenLayers.Projection('EPSG:3857'),
                styleMap: ro_style_map,
                writable: false,
                visibility: false,
                featureCollection: featureCollection
            });
            editor.addLayer(read_only_layer);

            toolbar = new gbi.Toolbar(editor, {
                tools: {
                    select: true,
                    drawPolygon: true,
                    edit: true,
                    'delete': true,
                    copy: true
                }
            });

            var layermanager = new gbi.widgets.LayerManager(editor, {
                showActiveLayer: false
            });

            var attributeEditor = new gbi.widgets.AttributeEditor(editor);
        });
    </script>
{% endblock %}


