{% macro add_wmts_layers(layers, user) -%}
    var max_extent = new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34);
    var zoom_levels = 18;
    var has_visible_baselayer = false;
    {% for layer in layers %}
        {% if layer.is_background_layer and layer.view_level_end %}
        zoom_levels = {{ layer.view_level_end + 1}};
        {% endif %}
        sources.push(new gbi.Layers.WMTS({
            label: '{{ layer.title }}',
            url: '{{ layer.client_url() }}',
            layer: '{{ layer.layer }}',
            matrixSet: '{{ layer.matrix_set }}',
            format: '{{ layer.format }}',
            style: 'default',
            {% if layer.bbox %}
                restrictedExtent: new OpenLayers.Bounds{{ layer.bbox }},
            {% endif %}
            maxExtent: max_extent,
            background: {{ layer.is_background_layer|tojson }},
            visibility: {{ layer.is_visible|tojson }},
            transparent: {{ layer.is_transparent|tojson }},
            requestEncoding: 'REST'
        }));
        {% if layer.is_visible and layer.is_background_layer %}
            has_visible_baselayer = true;
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro add_wfs_layers(wfs_layers) -%}
    OpenLayers.ProxyHost = "{{ url_for('proxy.proxy_action') }}";

    {% for wfs_layer in wfs_layers %}
        sources.push(new gbi.Layers.WFST({
            "name": {{ wfs_layer['name']|tojson|safe }},
            "url": "{{ wfs_layer['url']|safe }}",
            "featureNS":  "{{ wfs_layer['feature_ns'] }}",
            "featureType": "{{ wfs_layer['layer'] }}",
            "geometryName": "{{ wfs_layer['geometry_field'] }}",
            {% if wfs_layer['max_features'] %}
            "maxFeatures": {{ wfs_layer['max_features'] }},
            {% endif %}
            "typename": '{{ wfs_layer['typename'] }}',
            "styleMap": {% if wfs_layer['writable'] %}rw_style_map{% else %}ro_style_map{% endif %},
            "writable": {{ wfs_layer['writable'] | tojson }}
        }));
    {% endfor %}
{%- endmacro %}

{% macro add_geojson_layer(layers) -%}
    {% for layer in layers %}
        sources.push(
            new gbi.Layers.GeoJSON({
                "name": {{ layer.name|tojson|safe}},
                styleMap: {% if layer.readonly %}ro_style_map{%else%}rw_style_map{%endif%},
                displayInLayerSwitcher: true,
                read_only: {{ layer.readonly|tojson|safe }},
                featureCollection: {
                   'type': 'FeatureCollection',
                   'features': {{layer.features|tojson|safe }}
                }
            })
        );
    {% endfor %}
{%- endmacro %}
