{% macro user_detail(user) %}
    <dl class="dl-horizontal">
        <dt>{{ _('id') }}</dt>
        <dd>{{ user.id }}</dd>

        <dt>{{ _('email') }}</dt>
        <dd>{{ user.email }}</dd>

        <dt>{{ _('type') }}</dt>
        <dd>{{ user.type_name }}</dd>

        <dt>{{ _('registered') }}</dt>
        <dd>{{ user.registered.strftime('%d.%m.%Y %H:%M ') }}</dd>

        <dt>{{ _('last login') }}</dt>
        <dd>{% if user.last_login %}
            {{ user.last_login.strftime('%d.%m.%Y %H:%M ') }}
            {% endif %}&nbsp;
        </dd>
        {% if user.is_customer %}

        {% endif %}
    </dl>

    <dl class="dl-horizontal">
        <dt>{{ _('address') }}</dt>
        <dd>
            {{ user.realname }}<br>
            {% if user.company_name %} {{ user.company_name }}<br> {% endif %}

            {{ user.address }} <br>
            {% if user.address_extend %} {{ user.address_extend }} {% endif %}<br>
            {{ user.zipcode }} {{ user.city }} {{ user.federal_state_name }}
        </dd>

        <dt>{{ _('phone') }}</dt>
        <dd>
            {% if user.phone %} {{ user.phone }} {% else %} {{ _('No input') }} {% endif %}
        </dd>

        <dt>{{ _('fax') }}</dt>
        <dd>
            {% if user.fax %} {{ user.fax }} {% else %} {{ _('No input') }}  {% endif %}
        </dd>
    </dl>
    <dl class="dl-horizontal">
        {% if user.is_customer %}
        <dt>{{ _('company_number') }}</dt>
        <dd>
            {% if user.company_number %} {{ user.company_number }} {% else %} {{ _('No input') }}  {% endif %}
        </dd>
        {% endif %}

        {% if user.is_service_provider %}
        <dt>{{ _('commercial_register_number') }}</dt>
        <dd>
            {% if user.commercial_register_number %} {{ user.commercial_register_number }} {% else %} {{ _('No input') }}  {% endif %}
        </dd>
        {% endif %}
    </dl>
{% endmacro %}

{% macro tooltip(content, html=False) %}
 <a href='#' class="tooltip-icon" rel='tooltip' data-html='{{ html}} ' title='{{ content }}'>
    <span class='icon-info-sign'></span>
 </a>
{% endmacro %}
