{% extends "base.html" %}

{% from "macros/forms.html" import input, button %}
{% from "macros/user.html" import user_detail %}

{% block title %}
    {{_('User settings')}}
{% endblock %}

{% block content_head %}
    <h1>{{_('User settings')}}</h1>
{% endblock %}

{% block content %}
<div class="row">
    {% block content_left %}
    <div class="span3">
        <ul class="nav nav-pills nav-stacked">
            <li class="{% if subpagename == 'user_index' %}active{% endif%}">
                <a href="{{ url_for('user.index') }}">
                    {{_('overview')}}
                </a>
            </li>
            <li class="{% if subpagename == 'user_edit_address' %}active{% endif%}">
                <a href="{{ url_for('user.edit_address') }}">
                    {{_('edit address')}}
                </a>
            </li>
            <li class="{% if subpagename == 'user_edit_password' %}active{% endif%}">
                <a href="{{ url_for('user.edit_password') }}">
                    {{_('edit password')}}
                </a>
            </li>
            <li class="{% if subpagename == 'user_remove' %}active{% endif%}">
                <a href="{{ url_for('user.remove') }}">
                    {{_('remove account')}}
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}

    <div class="span7">
    {% block content_right %}
    {% endblock %}
    </div>
</div>
{% endblock %}
