{% extends "base.html" %}

{% from "macros/forms.html" import input, button %}

{% block title %}{{_('edit address')}}{% endblock %}

{% block content_head %}<h1>{{_('edit address')}}</h1>{% endblock %}

{% block content %}

<div>
    <form method="POST">
        {{ form.csrf_token }}

        {{ input(form.title) }}
        {{ input(form.firstname) }}
        {{ input(form.lastname) }}

        {{ input(form.address) }}
        {{ input(form.address_extend) }}

        {{ input(form.zipcode) }}
        {{ input(form.city) }}
        {{ input(form.federal_state) }}

        {{ input(form.phone) }}
        {{ input(form.fax) }}

        {% if current_user.is_customer %}
        {{ input(form.company_number) }}
        {% endif %}

        {% if current_user.is_service_provider %}
        {{ input(form.commercial_register_number) }}
        {% endif %}

        {{ button(_('save'), True) }}
  </form>
</div>

{% endblock %}