{% extends "user/base_edit.html" %}

{% set subpagename = 'user_edit_address' %}

{% block title %}
    {{_('edit address')}}
{% endblock %}

{% block content_right %}
<form method="POST">
    <fieldset>
        <legend>{{_('edit address')}}</legend>
        {{ form.csrf_token }}

        {{ input(form.title) }}
        {{ input(form.firstname) }}
        {{ input(form.lastname) }}

        {{ input(form.address) }}
        {{ input(form.address_extend) }}

        {{ input(form.zipcode) }}
        {{ input(form.city) }}
        {{ input(form.federal_state) }}

        {{ input(form.phone) }}
        {{ input(form.fax) }}

        {% if current_user.is_customer %}
        {{ input(form.company_number) }}
        {% endif %}

        {% if current_user.is_service_provider %}
        {{ input(form.commercial_register_number) }}
        {% endif %}

        {{ button(_('save'), True) }}
    </fieldset>
</form>
{% endblock %}