{% extends "base.html" %}

{% from "macros/forms.html" import input, button, checkbox %}

{% block title %}{{_('create new account')}}{% endblock %}

{% block content_head %}<h1>{{_('create new account')}}</h1>{% endblock %}

{% block content %}

<div>
    <form class="form-horizontal" method="POST">
        {{ form.csrf }}

        {{ input(form.title) }}
        {{ input(form.firstname) }}
        {{ input(form.lastname) }}

        {{ input(form.address) }}
        {{ input(form.address_extend) }}

        {{ input(form.zipcode) }}
        {{ input(form.city) }}
        {{ input(form.country) }}

        {{ input(form.phone) }}
        {{ input(form.fax) }}

        {{ input(form.type) }}
        {{ input(form.company_number, class='toggle-input hide') }}
        {{ input(form.commercial_register_number, class='toggle-input hide') }}

        <!--  Login Data -->
        {{ input(form.email) }}
        {{ input(form.password) }}
        {{ input(form.password2) }}

        <!--  Terms of use -->
        {{ checkbox(form.terms_of_use) }}

        {{ button(_('create accout'), True) }}
    </form>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#type").change(function(){
            $(".toggle-input").hide();
            if ( $(this).val() == {{ consultant_id }} ) {
                $("#company_number").parent().parent().show();
            }
            if ( $(this).val() == {{ customer_id }} ) {
                $("#commercial_register_number").parent().parent().show();
            }
        });
        $("#type").change();
    });
</script>
{% endblock %}
