{% extends "base.html" %}

{% from "macros/forms.html" import input, button, checkbox %}

{% block title %}{{_('create new account')}}{% endblock %}

{% block content_head %}<h1>{{_('create new account')}}</h1>{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
        <form class="form-horizontal" method="POST">
            {{ form.csrf_token }}

            <fieldset>
                <legend>{{ _('personal') }}</legend>
                {{ input(form.title, class='span3') }}
                {{ input(form.firstname, placeholder=_('firstname') ) }}
                {{ input(form.lastname, placeholder=_('lastname')) }}
                {{ input(form.company_name) }}
                {{ input(form.type, class='span3') }}
            </fieldset>

            <fieldset>
                <legend>{{ _('address & contact') }}</legend>
                {{ input(form.address) }}
                {{ input(form.address_extend) }}

                {{ input(form.zipcode) }}
                {{ input(form.city) }}
                {{ input(form.federal_state, class='span3') }}

                {{ input(form.phone) }}
                {{ input(form.fax) }}

                {{ input(form.company_number, control_class='toggle-input hide') }}
                {{ input(form.commercial_register_number, control_class='toggle-input hide') }}
            </fieldset>

            <!--  Login Data -->
            <fieldset>
                <legend>{{ _('login') }}</legend>
                {{ input(form.email) }}
                {{ input(form.password) }}
                {{ input(form.password2) }}
            </fieldset>

            <!--  Terms of use -->
            {{ checkbox(form.terms_of_use) }}

            {{ button(_('create accout'), submit=True, btn_class='success') }}
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#type").change(function(){
            $(".toggle-input").hide();
            if ( $(this).val() == {{ customer_id }} ) {
                $("#company_number").parent().parent().show();
            }
            if ( $(this).val() == {{ service_provider_id }} ) {
                $("#commercial_register_number").parent().parent().show();
            }
        });
        $("#type").change();
    });
</script>
{% endblock %}
