{% extends "base.html" %}

{% from "macros/forms.html" import input, button %}

{% block title %}{{_('password recover')}}{% endblock %}

{% block content_head %}<h1>{{_('password recover')}}</h1>{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span4">
        <p>{{_('password recover infotext') }}</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <form method="POST">
            {{ form.csrf_token }}
            {{ input(form.email) }}
            <a href="{{ url_for('user.login') }}" class="btn btn-small">{{ _('abort') }}</a>
            <button type="submit" class="btn btn-small btn-success">{{ _('recover') }}</button>
        </form>
    </div>
</div>
{% endblock %}